    <div class="highlight">
        <section class="content">
            <h2>Contributors</h2>
            <p>Thanks to the following for contributing to the development of these sequences:</p>
            <ul class="four contributors clearfix">
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/rebecca-heasman.jpg" alt="Rebecca Heasman"><figcaption><span>Ms. Rebecca Heasman</span> MTeach student at Deakin University (Pre-Service Teacher Contributor and Collator)</figcaption>
                    </figure>
                    <div class="details">
                        <p>Rebecca Heasman is a Transfusion Medicine Scientist.  Her current position is Project Officer, Transfusion Research Unit, Department of Epidemiology and Preventive Medicine, Monash University. She previously worked as a Senior Blood Bank Scientist, St Vincent’s Hospital Melbourne.</p>
                    </div>
                </li>
                <li class="detailed">
                    <figure>
                        <img src="{{ site.baseurl }}/img/helen-haysom.jpg" alt="Mrs Helen Haysom"><figcaption><span><a class="new-tab-warning" href="https://www.monash.edu/medicine/sphpm/epidemiology/about/staff/professional/haysom" target="_blank">Mrs Helen Haysom</a></span> BAppSc (Medical Laboratory Science) (RMIT University), Grad Cert in Transfusion Practice (Melbourne University), Diploma of Leadership and Management (Swinburne University of Technology) Project Officer, Transfusion Research Unit</figcaption>
                    </figure>
                    <div class="details">
                        <p>teaching hospitals in Melbourne and the ARCBS.  She is a member of the Transfusion Science Standing committee of the Australian and New Zealand Society for Blood Transfusion (ANZSBT) and her immediate past role was Senior Scientist at the blood transfusion laboratory at St Vincent’s Hospital Melbourne.</p>
                        <p>Helen is currently the Project Officer on the Massive Transfusion Registry, the Neonatal Alloimmune Thrombocytopaenia Registry and the TRUe cost of Transfusion in Thalassaemia Study where she is bringing her enthusiasm for all things blood transfusion to the Transfusion Research Unit at Monash University.</p>
                    </div>
                </li>
                <li><img src="{{ site.baseurl }}/img/peta-white.jpg" alt="Dr. Peta White"><span><a class="new-tab-warning" href="http://www.deakin.edu.au/profiles/peta-white" target="_blank">Dr. Peta White</a></span> Lecturer in Science and Environmental Education at Deakin University (Education Academic and Project Coordinator)</li>
            </ul>
            <p>Special thanks to <b>Ian Bentley</b> and <b>Mary Vamvakas</b></p>
        </section>
    </div>
    <div class="overlay">
        <div class="overlay-child">
            
        </div>
    </div>